<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="true"
  syntaxCheck="true"
  bootstrap="phpunit.autoload.php"
>
  <testsuites>
    <testsuite name="Keyserver Test Suite">
      <file>ctubio/HKPProxy/KeyserverTest.php</file>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="clover.xml"/>
  </logging>
</phpunit>
