[submodule "skin/pgpkeyserver-lite"]
	path = skin/pgpkeyserver-lite
	url = https://github.com/mattrude/pgpkeyserver-lite
[submodule "skin/HTML5"]
	path = skin/HTML5
	url = https://github.com/pgpkeys/sks-keyserver-sampleWeb-HTML5
[submodule "skin/XHTML+ES"]
	path = skin/XHTML+ES
	url = https://github.com/pgpkeys/sks-keyserver-sampleWeb-XHTML-ES
[submodule "skin/OpenPKG"]
	path = skin/OpenPKG
	url = https://github.com/pgpkeys/sks-keyserver-sampleWeb-OpenPKG
[submodule "skin/sks-bootstrap-index"]
	path = skin/sks-bootstrap-index
	url = https://github.com/bbs4us/sks-bootstrap-index
[submodule "skin/OpenSKS"]
	path = skin/OpenSKS
	url = https://github.com/pgpkeys/OpenSKS
