/*
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/ * HTML5 display-role reset for older browsers * /
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/

html, body {
  font-family: Serif, Arial;
  font-size: 16px;
  color: black;
  margin:0px;
}
html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }
body {
  background-image:url("/css/pirate2.png");
  background-position:top right;
  background-repeat:repeat-y;
  margin:0px;
  padding:0px;
}
*::selection {
  background-color: yellow;
  color: black;
}
h1 {
  font-size:32px;
  margin-left:14px;
  margin-top:7px;
  margin-bottom:0px;
  color:white;
  text-shadow:-3px 3px 5px black;
}
h2:first-of-type {margin-top:7px;}
h2 {font-size:22px;line-height: 24px;}
h3 {font-size:19px;}
pre {font-family: monospace, courier;font-size:13px;line-height: 16px;}
pre a {background-color:white;}
a:active,
a:hover {
  outline: 0;
}
div#wrapper {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  background:#333;
  border:1px solid #2a2a2a;
  box-shadow: 0 0 5px #b1b1b1;
}
.minwrap {width:650px;text-align:justify;}
#main {
  border: 1px solid #2a2a2a;
  background-color: #ddd;
  box-shadow: 0 0 5px #b1b1b1;
  line-height: 20px;
  margin-top: 0px;
  border-radius: 10px;
  padding:13px 20px;
  background-color: #fff;
}
div#gnulinux-inside {
  overflow:hidden;
  border-top-right-radius: 10px;
  position: relative;
  top: -13px;
  right: -20px;
  float: right;
}
a#co2 {
  float:left;
  margin-right:20px;
}
address {
  text-align:right;
  color:#BEBEBE;
  padding:2px 4px;
}
div#navigation {
  text-align:right;
  color:#666;
  padding-right:4px;
  margin-bottom: 2px;
}
div#navigation a, address a {
  color: #61C30B;
  text-decoration: none;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
}
div#navigation a:hover, address a:hover {
  text-decoration: underline;
  color: #B2EA81;
}
.state-done { background-color:#AFA; }
.state-active { background-color:#AFF; }
.state-queue { background-color:#FFA; }
.state-pause { background-color:#BDF; }


#haproxy th,#haproxy td { font-size: 10px;}
#haproxy h3 {  font-size: 16px; font-weight: bold; color: #b00040; background: #e8e8d0; margin-top: 0em; margin-bottom: 0em;}
#haproxy li { margin-top: 0.25em; margin-right: 2em;}
#haproxy .hr {margin-top: 0.25em; border-color: black; border-bottom-style: solid;}
#haproxy .titre	{background: #20D0D0;color: #000000; font-weight: bold; text-align: center;}
#haproxy .total	{background: #20D0D0;color: #ffff80;}
#haproxy .frontend	{background: #e8e8d0;}
#haproxy .socket	{background: #d0d0d0;}
#haproxy .backend	{background: #e8e8d0;}
#haproxy .active0	{background: #ff9090;}
#haproxy .active1	{background: #ff9090;}
#haproxy .active2	{background: #ffd020;}
#haproxy .active3	{background: #ffffa0;}
#haproxy .active4	{background: #c0ffc0;}
#haproxy .active5	{background: #ffffa0;}
#haproxy .active6	{background: #20a0ff;}
#haproxy .active7	{background: #ffffa0;}
#haproxy .active8 {background: #20a0FF;}
#haproxy .active9	{background: #e0e0e0;}
#haproxy .backup0	{background: #ff9090;}
#haproxy .backup1	{background: #ff9090;}
#haproxy .backup2	{background: #ff80ff;}
#haproxy .backup3	{background: #c060ff;}
#haproxy .backup4	{background: #b0d0ff;}
#haproxy .backup5	{background: #c060ff;}
#haproxy .backup6	{background: #90b0e0;}
#haproxy .backup7	{background: #c060ff;}
#haproxy .backup8	{background: #cc9900;}
#haproxy .backup9	{background: #e0e0e0;}
#haproxy .maintain	{background: #c07820;}
#haproxy .rls      {letter-spacing: 0.2em; margin-right: 1px;}

#haproxy a.px:link {color: #ffff40; text-decoration: none;}
#haproxy a.px:visited {color: #ffff40; text-decoration: none;}
#haproxy a.px:hover {color: #ffffff; text-decoration: none;}
#haproxy a.lfsb:link {color: #000000; text-decoration: none;}
#haproxy a.lfsb:visited {color: #000000; text-decoration: none;}
#haproxy a.lfsb:hover {color: #505050; text-decoration: none;}
#haproxy table.tbl { border-collapse: collapse; border-style: none;}
#haproxy table.tbl td { text-align: right; border-width: 1px 1px 1px 1px; border-style: solid solid solid solid; padding: 2px 3px; border-color: gray; white-space: nowrap;}
#haproxy table.tbl td.ac { text-align: center;}
#haproxy table.tbl th { border-width: 1px; border-style: solid solid solid solid; border-color: gray;}
#haproxy table.tbl th.pxname { background: #b00040; color: #ffff40; font-weight: bold; border-style: solid solid none solid; padding: 2px 3px; white-space: nowrap;}
#haproxy table.tbl th.empty { border-style: none; empty-cells: hide; background: white;}
#haproxy table.tbl th.desc { background: white; border-style: solid solid none solid; text-align: left; padding: 2px 3px;}

#haproxy table.lgd { border-collapse: collapse; border-width: 1px; border-style: none none none solid; border-color: black;}
#haproxy table.lgd td { border-width: 1px; border-style: solid solid solid solid; border-color: gray; padding: 2px;}
#haproxy table.lgd td.noborder { border-style: none; padding: 2px; white-space: nowrap;}
#haproxy table.det { border-collapse: collapse; border-style: none; }
#haproxy table.det th { text-align: left; border-width: 0px; padding: 0px 1px 0px 0px; font-style:normal;font-size:11px;font-weight:bold;font-family: sans-serif;}
#haproxy table.det td { text-align: right; border-width: 0px; padding: 0px 0px 0px 4px; white-space: nowrap; font-style:normal;font-size:11px;font-weight:normal;}
#haproxy u {text-decoration:none; border-bottom: 1px dotted black;}
#haproxy div.tips {
 display:block;
 visibility:hidden;
 z-index:2147483647;
 position:absolute;
 padding:2px 4px 3px;
 background:#f0f060; color:#000000;
 border:1px solid #7040c0;
 white-space:nowrap;
 font-style:normal;font-size:11px;font-weight:normal;
 -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
 -moz-box-shadow:gray 2px 2px 3px;-webkit-box-shadow:gray 2px 2px 3px;box-shadow:gray 2px 2px 3px;
}
#haproxy u:hover div.tips {visibility:visible;}
#haproxy td.noborder{font-size:16px!important;}
#haproxy table.tbl td{font-family: monospace;}
#haproxy table.tbl tr.active0 td,
#haproxy table.tbl tr.active1 td,
#haproxy table.tbl tr.active2 td,
#haproxy table.tbl tr.active3 td,
#haproxy table.tbl tr.active4 td,
#haproxy table.tbl tr.active8 td,
#haproxy table.tbl tr.active9 td,
#haproxy table.tbl tr.maintain td,
#haproxy table.tbl tr.backup0 td,
#haproxy table.tbl tr.backup2 td,
#haproxy table.tbl tr.backup3 td,
#haproxy table.tbl tr.backup4 td,
#haproxy .pxname,
#haproxy td[align=left],
#haproxy table.lgd td,
#haproxy th{font-family: monospace;font-size:13px!important;}
#haproxy td[align=left]{font-size:11px!important;}
#haproxy th{font-size:10px!important;}
#haproxy table:first-of-type td[align=center]{padding-left: 21px;}
#haproxy h2:last-of-type,
#haproxy hr,
#haproxy h3,
#haproxy td[valign=top]{display:none;}