/*
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
*/
html, body {
  font-family: Serif, Arial;
  font-size: 16px;
  color: black;
  margin:0px;
}
html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }
body {
  background-image:url("/css/pirate2.png");
  background-position:top right;
  background-repeat:repeat-y;
  margin:0px;
  padding:0px;
}
*::selection {
  background-color: yellow;
  color: black;
}
h1 {
  font-size:32px;
  margin-left:14px;
  margin-top:7px;
  margin-bottom:0px;
  color:white;
  text-shadow:-3px 3px 5px black;
}
h2:first-of-type {margin-top:7px;}
h2 {font-size:22px;}
h3 {font-size:19px;}
pre {font-family: monospace, courier;font-size:13px;line-height: 16px;}
pre a {background-color:white;}
a:active,
a:hover {
  outline: 0;
}
div#wrapper {
  display: table;
  min-width: 690px;
  margin: 0 auto;
  padding: 0 10px;
  background:#333;
  border:1px solid #2a2a2a;
  box-shadow: 0 0 5px #b1b1b1;
}
.minwrap {width:650px;text-align:justify;}
#main {
  border: 1px solid #2a2a2a;
  background-color: #ddd;
  box-shadow: 0 0 5px #b1b1b1;
  line-height: 20px;
  margin-top: 0px;
  border-radius: 10px;
  padding:13px 20px;
  background-color: #fff;
}
div#gnulinux-inside {
  overflow:hidden;
  border-top-right-radius: 10px;
  position: relative;
  top: -13px;
  right: -20px;
  float: right;
}
a#co2 {
  float:left;
}
address {
  text-align:right;
  color:#BEBEBE;
  padding:2px 4px;
}
div#navigation {
  text-align:right;
  color:#666;
  padding-right:4px;
  margin-bottom: 2px;
}
div#navigation a, address a {
  color: #61C30B;
  text-decoration: none;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
}
div#navigation a:hover, address a:hover {
  text-decoration: underline;
  color: #B2EA81;
}
