[proxy]
;hkp_port = 11371
;hkp_addr = 127.0.0.1

[whoami]
;hostname           = SERVER_NAME.environment.variable
site_contact_link  = http://ca.rles-tub.io
bugs_contact_mail  = carles.tubio@key-server.io
;expose_keyserver   = 0
;html_title         = PGP Public Key Server

[options]
;skin_path          = default
;layout_html_errors = 0
layout_hkp_request = 1
repair_hpk_h1_tags = 1
indent_strict_html = 1
display_exceptions = 1

[custom_options]

;;;; BODEFAULTS
;;; STAND BACK, REDUNDANT DOCUMENTATION BELOW
;; default hkp_port value is 11371, any value is valid but 11371 is recommended
;; default hkp_addr value is 127.0.0.1, any value is valid but 127.0.0.1 is recommended
;; default hostname value is $_SERVER['SERVER_NAME'], any value is valid
;; default site_contact_link value is NULL, valid values are url or email
;; default bugs_contact_mail value is bugs@hostname, any value is valid
;; default expose_keyserver value is 0, valid values are 0 or 1 (hide keyserver in Via header or display?).
;; default html_title value is PGP Public Key Server, any value is valid
;; default skin_path value is default, valid values are folder names inside /skin
;; default layout_html_errors value is 0, valid values are 0 or 1 (use /plain_errors or skin_layout.phtml?)
;; default layout_hkp_request value is 0, valid values are 0 or 1 (always plain responses on hkp_port or use skin_layout.phtml if web browser?)
;; default repair_hpk_h1_tags value is 0, valid values are 0 or 1 (replace h1 tags of hkp responses by refactored h2 tags with utf8 support?)
;; default indent_strict_html value is 0, valid values are 0 or 1 (raw or auto indent with strict validation?)
;; default display_exceptions value is 0, valid values are 0 or 1 (write in /log or display all exceptions?)
;; default custom_option is throw Exception, feel free to add your own option=value under [custom_options] section
;;; STAND BACK, REDUNDANT DOCUMENTATION ABOVE
;;;; EODEFAULTS
