[proxy]
;hkp_port = 11371
;hkp_addr = 127.0.0.1

[whoami]
;hostname           = SERVER_NAME.environment.variable
contact_email      = carles.tubio@key-server.io
;expose_keyserver   = 0
;html_title         = PGP Public Key Server

[options]
;html_skin          = default
;layout_html_errors = 0
indent_strict_html = 1
display_exceptions = 1

[custom_options]

;;;; BODEFAULTS
;;; STAND BACK, REDUNDANT DOCUMENTATION BELOW
;; default hkp_port value is 11371, any value is valid but 11371 is recommended
;; default hkp_addr value is 127.0.0.1, any value is valid but 127.0.0.1 is recommended
;; default hostname value is $_SERVER['SERVER_NAME'], any value is valid
;; default contact_email value is bugs@hostname, any value is valid
;; default expose_keyserver value is 0, valid values are 0 or 1 (hide keyserver in Via header or display?).
;; default html_title value is PGP Public Key Server, any value is valid
;; default html_skin value is default, valid values are folder names inside /skin
;; default layout_html_errors value is 0, valid values are 0 or 1 (use /plain_errors or skin_layout.phtml?)
;; default indent_strict_html value is 0, valid values are 0 or 1 (raw or auto indent with strict validation?)
;; default display_exceptions value is 0, valid values are 0 or 1 (write in /log or display all exceptions?)
;; default custom_option is throw Exception, feel free to add your own option=value under [custom_options] section
;;; STAND BACK, REDUNDANT DOCUMENTATION ABOVE
;;;; EODEFAULTS
