IndexOptions -FancyIndexing
SetOutputFilter DEFLATE
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
RewriteRule .* - [L,R=405]
#RewriteCond %{HTTPS} !=on [OR]
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d [OR]
RewriteCond %{REQUEST_URI} ^\/$
RewriteRule ^(.*)$ php-proxy-keyserver.php [L]
